h1{
    background-color: yellow;
    border-style: double;
    margin-left: 550px;
    margin-right: 550px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

h1:hover{
    color: teal;
}

ul li{
    font-size: 15px;
    background-color: yellow;
}

a:link{
    color: black;
    border-style: double;
}

a:hover{
    color: red;
    font-size: 30px;
}

a:active{
    color: violet;
}

a:visited{
    color: gray;
}